.chat {
  display: grid;
  grid-template-rows: minmax(auto, 1fr) auto;
  height: 100%;
  overflow: hidden;
  background: rgb(239, 239, 239);
}

ion-content::part(scroll) {
  background: rgb(239, 239, 239);
}

.messages {
  display: grid;
  grid-auto-rows: min-content;
  grid-row-gap: 20px;
  padding: 20px 10px;
  margin: 0;
  text-indent: 0;
  list-style-type: 0;
  box-sizing: border-box;
}

.message {
  display: grid;
  grid-row-gap: 5px;
  justify-content: flex-start;

  &-me {
    justify-content: flex-end;
  }
}

.bubble {
  padding: 10px;
  border-radius: 5px;
  max-width: 260px;
  box-shadow:
    rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px,
    rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  white-space: pre-line;
  background: white;
}

.date {
  white-space: nowrap;
}

.footer {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr auto;
}

.sc-ion-textarea-md-h {
  margin-top: 0;
  background: white;
}
